<div class="row">
  <div class="col-12 mt-3">
    <h5>コメント<i class="far fa-comment"></i></h5>
    <%= form_with model:[recipe, comment], remote: true do |f| %>
      <%= f.text_area :recipe_comment, placeholder:"コメント入力", class: "form-control mb-2" %>
      <%= f.submit "送信", class: "btn btn-2 float-right mt-2 mb-3" %>
    <% end %>
  </div>
</div>
