<div class="mt-2 mb-3">
  <table>
    <% recipe.comments.each do |comment| %>
      <tr>
        <td>
          <!--<#%= image_tag(comment.user.image.to_s) %>-->
          <%= attachment_image_tag comment.user, :image, format: 'jpeg', fallback: "no_image.jpg", class: "user-icon-mini" %></br>
          <%= link_to comment.user.name, user_path(comment.user), class: "text-dark" %>
        </td>
        <td><%= comment.recipe_comment %></td>
        <% if comment.user == current_user %>
          <td><%= link_to "", recipe_comment_path(recipe, comment), method: :delete, remote: true, class: "btn btn-sm btn-secondary fas fa-trash-alt" %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>