<div class="nested-fields">
  <div class="row mb-1">

    <div class="col-8">
      <%= f.text_field :process, class: "form-control", placeholder: "手順" %>
    </div>

    <div class="col-1">
      <%= link_to_remove_association "", f, class: "fas fa-trash-alt btn" %>
    </div>

    <div class="col-3">
      <label>
        <%= f.attachment_field :process_image, class: 'step_field hoge', style: 'display:none;' %>
        <%= attachment_image_tag @steps, :process_image, fallback: 'no_image.jpg', class: 'img-thumbnail step-prev' %>
      </label>
      <script>
        $(function () {
          function readURL(input) {
            if (input.files && input.files[0]) {
              var reader = new FileReader();
              reader.onload = function (e) {
                $(input).parents('label').find('.step-prev').attr('src', e.target.result);
              }
              reader.readAsDataURL(input.files[0]);
            }
          }

          $('.step_field').change(function () {
            readURL(this);
          });
        });
      </script>
    </div>

  </div>
</div>