<div class="container">
  <div class="row mt-2">
    <div class="col">
      <section>ハッシュタグ #<%= @tag.hashname %></section>
      <%= render 'index', recipes: @recipes, like: @like %>
    </div>
  </div>
</div>