<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row mt-3">
    <div class="col-md-8">
      <h3 class="title">レシピ一覧</h3>
        <%= render "recipes/index", recipes: @recipes %>
    </div>
    <div class="col-md-4">
      <%= render "searches/search_box" %>
    </div>
　</div>
</div>