<div class="container">
  <div class="row mt-3">
    <div class="col-lg-3 col-md-12">
      <p id="notice"><%= notice %></p>
      <% unless user_signed_in? %>
        <%= render "layouts/guest_message" %>
      <% end %>
      <%= render "searches/search_box", tags: @tags %>
    </div>
    <div class="col-lg-9 col-md-12">
      <section>レシピ一覧</section>
      <%= render "recipes/index", recipes: @recipes, like: @like %>
    </div>
　</div>
</div>