<div class="container">
  <div class="row mt-3">
    <section>レシピ新規投稿</section>
    <div class="col-lg-10 col-md- mx-auto">
      <%= render 'layouts/errors', obj: @recipe %>
      <%= render "recipes/form", recipe: @recipe %>
    </div>
　</div>
</div>
