<div class="container">
  <div class="row mt-3">
    <section><h4>レシピ新規投稿</h4></section>
    <div class="col-lg-10 col-md-12 mx-auto">
      <%= render 'layouts/errors', obj: @recipe %>
      <%= render "recipes/form", recipe: @recipe %>
    </div>
　</div>
</div>
