<% users.each do |user|%>
  <div class="col-md mt-5">
    <%= link_to user_path(user) do %>
      <div class="card" style="max-width: 25rem;">
        <div class="card-img-top"><%= attachment_image_tag user, :image, format: 'jpeg', fallback: "no_image.jpg" %></div>
        <div class="card-body mx-auto">
          <div class="card-title"><%= user.name %></div>
          <div class="card-body">レシピ投稿数：<%= user.recipes.count%></div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>