<div class="container">
  <div class="row">
    <div class="col-md-4">
      <table>
        <%= attachment_image_tag @user, :image, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
        <tbody>
          <tr>
            <th>name</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th>introduction</th>
            <td><%= @user.introduction %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-8">
      <h2>ここにindexをrenderする</h2>    
    </div>
　</div>
</div>
