header {
  min-height: 50px;
  line-height: 35px;
}
.navbar-brand {
  font-size: 27px;
}

main {
  width: 100%;
  min-height: 90vh;
  height:auto !important;
}

#sessions, #registrations, #about {
  background-position: right;
  min-height: 90vh;
  height:auto !important;
}

section {
  font-size: 25px;
}

// topページ
.top-img {
  width: 100%;
  height: 460px;
  background-size: cover;
  background-position: center;
}
.top-message-box {
  max-height: 460px;
  height:auto !important;
  padding-top: 3px;
  top: 0%;
  left: 0%;
  width: 100%;
}
// トップページ画像のロゴ
.message {
  font-size: 55px;
}
// トップロゴ下のメッセージ
.sub-message{
  font-size: 17px;
  padding-top: 5px;
}
// トップロゴ下のボタン
.top-btn {
  padding-top: 5px;
}
// その他のボタン
.btn-1, .btn-2, .btn-3 {
  font-size: 15px;
}

// トップページスライダー
.slider-img {
  height: 175px;
  width: 175px;
 }
.slider-nav {
  font-size: 17px;
}

// aboutページ
#about {
  font-size: 14px;
}
.about-section {
  font-size: 27px;
}
.about-message {
 padding-top: 0px;
}

// recipe/show画像
#img {
  height: 300px;
  object-fit: cover;
 }
.step-img {
  height: 73px;
  width: 73px;
}

// 各一覧のcard
.card {
  height: 280px;
  max-width: 186px;
  font-size: 1px;
}
 // recipeの_indexメイン画像
.index-img {
  height: 120px;
  width: 184px;
}
//recipeのcardのuserアイコン
.user-icon {
  height: 30px;
  width: 30px;
 }
// フォローuser一覧のimage
.user-img-card {
  height: 143px;
  width: 143px;
}
// users/show
.user-img {
  height: 140px;
  width: 140px;
}
// users/show
.user-info {
  font-size: 8px;
 }

footer {
  height: 25px;
}