main {
 width: 100%;
 min-height:667px;
 height:auto !important;
 color: #261601;
}

.top-message-box {
  width: 60%;
  height: 300px;
}
// トップページ画像のロゴ
.message {
 font-size: 25px;
}

.sub-message{
font-size: 10px;
}

.top-btn {
  height:25px;
}