header {
 min-height: 50px;
 line-height: 35px;
}
.navbar-brand {
  font-size: 20px;
}

main {
 width: 100%;
 min-height:657px;
 height:auto !important;
 color: #261601;
}

#sessions {
 background-position: right;
 height: 89vh;
}
#registrations {
 background-position: right;
 height: 89vh;
}

// topページ
.top-img {
  width: 100%;
  height: 460px;
  background-size: cover;
  background-position: center;
}
.top-message-box {
  max-height: 460px;
  height:auto !important;
  padding-top: 3px;
  top: 0%;
  left: 0%;
  width: 100%;
}
// トップページ画像のロゴ
.message {
 font-size: 55px;
}
// トップロゴ下のメッセージ
.sub-message{
font-size: 17px;
padding-top: 5px;
}
.top-btn {
 padding-top: 5px;
}

.btn-1, .btn-2, .btn-3 {
 font-size: 13px;
}

.slider-img {
  height: 160px;
  width: 160px;
  object-fit: cover;
 }
.slider-nav {
  font-size: 17px;
}

// aboutページ
#about {
  background-position: right;
  min-height: 89vh;
  height:auto !important;
  font-size: 13px;
}
.about-section {
  font-size: 25px;
}
.about-message {
 padding-top: 0px;
}

// recipe/showレシピ画像
#img {
  height: 300px;
  object-fit: cover;
 }

// 各一覧のcard
.card {
 margin: 0 auto ;
 height: 280px;
 max-width: 186px;
 display: flex;
 flex-wrap: wrap;
 font-size: 1px;
}
 // recipeの_indexメイン画像
.index-img {
 object-fit: cover;
 height: 100px;
 width: 184px;
}
//recipeのcardのuserアイコン
.user-icon {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
 }
// フォローuser一覧のimage
.user-img-card {
 object-fit: cover;
 height: 143px;
 width: 143px;
}

footer {
  height: 25px;
}