header {
 height: 50px;
 line-height: 35px;
}

main {
 width: 100%;
 min-height:657px;
 height:auto !important;
 color: #261601;
}

.navbar-brand {
  font-size: 20px;
}

#sessions {
 background-position: right;
 height: 89vh;
}
#registrations {
 background-position: right;
 height: 89vh;
}

.top-img {
  width: 100%;
  height: 460px;
  background-size: cover;
  background-position: center;
}

.top-message-box {
  max-height: 460px;
  height:auto !important;
  padding-top: 3px;
  top: 0%;
  left: 0%;
  width: 100%;
}
// トップページ画像のロゴ
.message {
 font-size: 55px;
}
// トップロゴ下のメッセージ
.sub-message{
font-size: 17px;
padding-top: 5px;
}

.top-btn {
 padding-top: 5px;
}

.btn-2 {
 with: 100px
}

.slider-img {
  height: 160px;
  width: 160px;
  object-fit: cover;
 }
.slider-nav {
  font-size: 17px;
}

#about {
  background-position: right;
  min-height: 89vh;
  height:auto !important;
  font-size: 13px;
}
.about-section {
  font-size: 25px;
}
.about-message {
 padding-top: 0px;
}



footer {
  height: 25px;
}