<div id="about">
  <div class="container">
    <div class="row mx-auto">
      <div class="col-lg-10 col-md-12 mx-auto">
        <div class="top-message-box">
          <section><h1>プラントベースってなぁに？</h1></section>
        </div>
      </div>
    </div>
  </div>
</div>