<div id="about">
  <div class="container">

    <div class="row pt-4">
      <div class="col-lg-8 col-sm-12 mt-2 about-message">
        <section><h1 class="about-section">プラントベースってなぁに？</h1></section>
        <strong>プラントベースとは”植物性のものを積極的に取り入れる食事”のことです。</strong></br>
        ・畜産が地球温暖化に大きな影響を与えていること</br>
        ・動物性のものを摂取するよりも、身体に負担がかかりにくいこと</br>
        などから近年注目が高まっています。</br>
        世界ではポール・マッカートニーが無理なく肉食を控えるために</br>
        <strong> “ミートフリーマンデー(週に1度、月曜日だけ菜食にしてみよう)”</strong>という活動を提唱。</br>
        今では世界中で活動が広まっています。
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-sm-12">
        <section><h1 class="about-section mt-4">PLANT BACE キッチン</h1></section>
        <strong>PLANT BACE キッチンはプラントベースの料理のレシピをシェアできるSNSです。</strong></br>
        植物性だけでどんな料理ができるのかな？と興味のある方</br>
        環境のために何か取り組みたいけど、何からすれば良いのかなという方</br>
        いつもワンパターンの食事でもっと幅を広げたいなという方</br>
        <strong>PLANT BACEキッチンを活用して、健康にも環境にも良い食事の幅を広げましょう！</strong>
      </div>
      <div class="col-lg-4 col-sm-12 mt-5 mb-4">
        <% unless user_signed_in? %>
          <div class="top-btn">
            <%= link_to 'レシピを見てみる', recipes_path, class: "btn btn-3" %></br>
            <%= link_to 'アカウント登録', new_user_registration_path, class: "btn btn-2 mt-3" %>
            <%= link_to 'ログイン', new_user_session_path, class: "btn btn-2 mt-3 ml-3" %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>