<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <p id="notice"><%= notice %></p>
        <div class="col-lg-10 col-md-12 top-img mx-auto">
          <div class="top-message-box">
            <div class="message">
              <h1>Plantbase　キッチン</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-12">
          <%= render "searches/search_box" %>
        </div>
        <div class="col-lg-9 col-md-12">
          <section><h3>新着レシピ</h3></section>
          <%= render "recipes/index", recipes: @recipes %>
        </div>
      </div>
    </div>
  </div>
</div>
