<div class="container">
  <div class="row mt-3">
    <div class="col-lg-3 col-md-12">
      <%= render "searches/search_box" %>
    </div>
    <div class="col-lg-9 col-md-12">
      <section><h3>"<%= @word %>"の検索結果</h3></section>
      <% if @range == '1' %>
        <%= render "recipes/index", recipes: @recipes %>
      <% else %>
        <%= render 'users/index', users: @users %>
      <% end %>
    </div>
  </div>
</div>