/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

header {
 background-color: #044d02;
 height: 60px;
 line-height: 40px;
 color: #faf8f0;
 opacity: 0.9;
}

main {
 min-height:590px;
 height:auto !important;
 height:590px;
}

body {
 background-color: #faf8f0;
}

.top-img {
 position: relative;
 background-image: url(kitchen.jpg);
 background-size: contain;
 background-repeat: no-repeat;
 width: 1000px;
 height: 580px;
}

.top-message-box {
 position: absolute;
 top: 0%;
 left: 20%;
 width: 60%;
 height: 580px;
 background-color: rgba(255,255,255,0.4);
 color: #261601;
}

.message {
 text-align: center;
}

#sessions{
 background-image: url(knife-leaf.jpg);
 background-position: center;
 background-size: cover;
 width: 100%;
 height: 86vh;
}

#registrations {
 background-image: url(knife-tomato.jpg);
 background-position: center;
 background-size: cover;
 width: 100%;
 height: 86vh;
}

// いいねボタン
 .btn-like {
  color: red;
 }
 .btn-unlike {
  color: black;
 }

// 画面遷移ボタン
 .btn-1 {
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  background-color: #e3dad3;
  border-radius: 100vh;
 }
 .btn-1:hover {
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
 }
 .btn-1:active {
  box-shadow: none;
  position: relative;
  top: 2px;
 }

// 実行ボタン
 .btn-2 {
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  border-radius: 100vh;
 }
 .btn-2:hover {
  box-shadow: 0 3px 3px rgba(0,0,0,0.3);
 }
 .btn-2:active {
  box-shadow: none;
  position: relative;
  top: 2px;
 }

// user/show
 .user-img {
  border-radius: 50%;
  object-fit: cover;
 }

// recipes/index
 .user-icon {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
 }

 // recipe/show
 .user-icon-mini {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
 }

 // レシピ画像
 #img {
  height: 300px;
  width: 350px;
  object-fit: cover;
 }

// recipe/レシピ画像プレビュー
 .img_preview {
  height: 300px;
  width: 350px;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.8;
 }

// user編集の画像プレビュー
 .user_preview {
  height: 300px;
  width: 300px;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.8;
 }

 // recipeとuserの_indexメイン画像
.index-img {
 object-fit: cover;
 height: 250px;
 width: 318px;
}

// 各一覧のcard
 .card {
  margin: 0 auto ;
  max-width: 400px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
}

.step-img {
 object-fit: cover;
 height: 80px;
 width: 100px;
}

.step-prev {
 object-fit: cover;
 height: 80px;
 width: 100px;
 cursor: pointer;
 opacity: 0.8;
}

.timeline-box {
 border-bottom: #bf7b28;
}

.slick-next {
 right: 35px !important;
 z-index: 100;

 }

.slick-prev {
 left: 10px !important;
 z-index: 100;
 }

 .slider-img {
  height: 250px;
  width: 250px;
  object-fit: cover;
 }

 // ページネーション
.pagination li a {
  border: none;
  color: #696969;
}

// 表示中のページ番号
.pagination .active a {
  background-color: #68a355;
  border-radius: 50%;
}

// ホバー時
.pagination li a:hover {
  border-radius: 50%;
}

#errors, #error_explanation {
 color: #e04a04;
}

#alert, #notice {
 color: #e04a04;
 font-weight: bold;
}

 footer {
  background-color: #044d02;
  height: 40px;
  opacity: 0.9;
 }