/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

header {
 background-color: #044d02;
 height: 60px;
 line-height: 40px;
 color: #faf8f0;
 opacity: 0.9;
}

body {
 background-color: #faf8f0;
}

.top-img {
 position: relative;
 background-image: url(kitchen.jpg);
 // background-position: top;
 background-size: contain;
 background-repeat: no-repeat;
 width: 100%;
 height: 100vh;
}

.top-message-box {
 position: absolute;
 width: 100%;
 height: 90%;
 background-color: rgba(255,255,255,0.4);
 color: #261601;
}

.message {
 text-align: center;
}

#sessions{
 background-image: url(knife-leaf.jpg);
 background-position: center;
 background-size: cover;
 width: 100%;
 height: 100vh;
}

#registrations {
 background-image: url(knife-tomato.jpg);
 background-position: center;
 background-size: cover;
 width: 100%;
 height: 100vh;
}


 .btn-like {
  color: red;
 }

 .btn-unlike {
  color: black;
 }

 .user-img {
  border-radius: 50%;
  object-fit: cover;
 }

// recipe/indexのユーザーアイコン
 .user-icon {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 50%;
 }

// recipe/showのレシピ画像
 .recipe-img {
  height: 300px;
  width: 350px;
  object-fit: cover;
 }

 // recipeとuserの_indexメイン画像
.index-img {
 object-fit: cover;
 height: 250px;
 width: 318px;
}
// 各一覧のcard
 .card {
  margin: 0 auto ;
  max-width: 400px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
}

.step-img {
 object-fit: cover;
 height: 80px;
 width: 100px;
}

.timeline-box {
 border-bottom: #bf7b28;
}