/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 @font-face {
  font-family: 'Senobi-Gothic-Regular';
  src: font-url('/assets/Senobi-Gothic-Regular.ttf');
 }

header {
 background-color: #044d02;
 height: 60px;
 line-height: 40px;
 color: #faf8f0;
 opacity: 0.9;
}

.navbar-brand {
 font-family: 'Senobi-Gothic-Regular';
 font-size: 30px;
 color: white;
}

section {
 font-family: 'Senobi-Gothic-Regular';
 font-size: 30px;
 color: #261601;
}

main {
 min-height:590px;
 height:auto !important;
 color: #261601;
}

body {
 background-color: #faf8f0;
}

// トップページイメージ画像
.top-img {
 position: relative;
 background-image: image-url("kitchen.jpg");
 background-size: contain;
 background-repeat: no-repeat;
 width: 1200px;
 height: 620px;
 // width: 1000px;
 // height: 580px;
 background-color:rgba(255,255,255,0.3);
 background-blend-mode:lighten;
}
// トップページ画像の白いボックス
.top-message-box {
 position: absolute;
 margin: 0 auto;
 top: 0%;
 left: 20%;
 width: 60%;
 height: 100%;
 // background-color: rgba(255,255,255,0.4);
 color: #261601;
}
// トップページ画像のロゴ
.message {
 font-family: 'Senobi-Gothic-Regular';
 text-align: center;
 font-size: 70px;
}
.sub-message{
 font-family: 'Senobi-Gothic-Regular';
 text-align: center;
 font-size: 27px;
}
// トップメッセージ下のボタン
.top-btn {
 text-align: center;
}

// 検索バー下のメッセージ
.guest-message {
 font-size: 14px;
}

#about {
 background-image: image-url("vege.jpg");
 background-position: center;
 background-size: cover;
 width: 100%;
 height: 86vh;
 background-color:rgba(255,255,255,0.2);
 background-blend-mode:lighten;
}
#sessions {
 background-image: image-url("knife-leaf.jpg");
 background-position: center;
 background-size: cover;
 width: 100%;
 height: 86vh;
}
#registrations {
 background-image: image-url("knife-tomato.jpg");
 background-position: center;
 background-size: cover;
 width: 100%;
 height: 86vh;
}

// ベージュボタン
 .btn-1 {
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  background-color: #e3dad3;
  border-radius: 100vh;
 }
 .btn-1:hover {
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
 }
 .btn-1:active {
  box-shadow: none;
  position: relative;
  top: 2px;
 }

// 薄いオレンジボタン
 .btn-2 {
  box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
  background-color: #e39714;
  color: #faf8f0;
  border-radius: 100vh;
 }
 .btn-2:hover {
  box-shadow: 0 3px 3px rgba(0,0,0,0.3);
 }
 .btn-2:active {
  box-shadow: none;
  position: relative;
  top: 2px;
 }

 // 濃いオレンジボタン
.btn-3 {
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  background-color: #d17711;
  border-radius: 100vh;
  color: #faf8f0;
}
.btn-3:hover {
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
 }
.btn-3:active {
  box-shadow: none;
  position: relative;
  top: 2px;
 }

// いいねボタン
 .btn-like {
  color: red;
 }
 .btn-unlike {
  color: black;
 }

// user/show
 .user-img {
  border-radius: 50%;
  object-fit: cover;
 }
// recipes/index
 .user-icon {
  height: 60px;
  width: 60px;
  object-fit: cover;
  border-radius: 50%;
 }
 // recipe/show
 .user-icon-mini {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
 }
 // recipe/showレシピ画像
 #img {
  height: 300px;
  width: 350px;
  object-fit: cover;
 }

// recipe/レシピ画像プレビュー
 .img_preview {
  height: 300px;
  width: 350px;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.8;
 }
// user編集の画像プレビュー
 .user_preview {
  height: 300px;
  width: 300px;
  object-fit: cover;
  cursor: pointer;
  opacity: 0.8;
 }

// 各一覧のcard
 .card {
  margin: 0 auto ;
  max-width: 400px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
}
 // recipeの_indexメイン画像
.index-img {
 object-fit: cover;
 height: 250px;
 width: 318px;
}
.user-img-card {
 object-fit: cover;
 height: 290px;
 width: 290px;
}

// 手順の画像
.step-img {
 object-fit: cover;
 height: 80px;
 width: 100px;
}
.step-prev {
 object-fit: cover;
 height: 80px;
 width: 100px;
 cursor: pointer;
 opacity: 0.8;
}

// topスライダーのボタン
.slick-next {
 right: 35px !important;
 z-index: 100;
 }
.slick-prev {
 left: 10px !important;
 z-index: 100;
 }
// スライダー画像
 .slider-img {
  height: 250px;
  width: 250px;
  object-fit: cover;
 }

 // ページネーション
.pagination li a {
  border: none;
  color: #696969;
}
// 表示中のページ番号
.pagination .active a {
  background-color: #68a355;
  border-radius: 50%;
}
// ホバー時
.pagination li a:hover {
  border-radius: 50%;
}

#errors, #error_explanation {
 color: #e04a04;
}

#alert, #notice {
 color: #e04a04;
 font-weight: bold;
}

 footer {
  background-color: #044d02;
  height: 40px;
  opacity: 0.9;
 }

  // レスポンシブ
 @media screen and (max-width: 425px) {
  @import "breakpoints/425";
 }

 @media screen and (max-width: 768px) {
 @import "breakpoints/768";
}