<div class="mb-4">
  アカウント登録で、</br>
  ・レシピをお気に入り登録</br>
  ・お好きなアカウントをフォロー</br>
  ・タイムラインで最新レシピをいつでも閲覧できます！</br>
  <strong>アカウント登録/ログインは</strong></br>
  <strong>こちらから <i class="far fa-hand-point-down"></i></strong></br>
  <%= link_to 'アカウント登録', new_user_registration_path, class: "btn btn-2 mt-2 mb-2" %>
  <%= link_to 'ログイン', new_user_session_path, class: "btn btn-2 m-2" %>
</div>